<li id="event-{{ id }}">

<h3 class="title">
	<a href="/{{ id }}">{{ meta['title'] }}</a>
</h3>

<ol class="author-list">
	{% for author, author_id in zip(authors, author_ids) %}
	<li>
		<a href="https://nips.cc/Conferences/2016/Schedule?showSpeaker={{ author_id }}">{{ author }}</a>
	</li>
	{% end %}
</ol>
<br>

<span class="event_id">{{ id }}</span><br>
<span class="event_type">{{ meta['event_type'] }}</span><br>
<span class="location">{{ meta['location'] }}</span><br>
<span class="start_time">{{ meta['start_time'] }}</span><br>
<span class="time_str">{{ meta['time_str'] }}</span><br>
{% if globals().get('similarity', False) %}
<span class="similarity">Similarity {{ int(similarity * 100) }}% </span><br>
{% end %}
<span class="link-like add-to-schedule">Add</span>
<span class="link-like remove-from-schedule">Remove</span>
</li>
