{% module Template("header.html", title="NIPS scheduler", scripts=[], stylesheets=[]) %}
<h1>Event {{ id }}</h1>
<span class="title">{{ meta['title'] }}</span>
<ol class="author-list">
	{% for author, author_id in zip(authors, author_ids) %}
	<li>
		<a href="https://nips.cc/Conferences/2016/Schedule?showSpeaker={{ author_id }}">{{ author }}</a>
	</li>
	{% end %}
</ol>
<br>
<span class="event_type">{{ meta['event_type'] }}</span>
<span class="location">{{ meta['location'] }}</span>
<span class="start_time">{{ meta['start_time'] }}</span>
<span class="time_str">{{ meta['time_str'] }}</span>
<span class="start_time_numeric">{{ meta['start_time_numeric'] }}</span>
<span class="abstract">{% raw meta['abstract_html'] %}</span>
<a href="{{ meta['url'] }}">original</a>
<span class="add-to-schedule">Add</span>
<span class="remove-from-schedule">Remove</span>

<h2>Related talks:</h2>
<ol>
	{% for card in related_cards %}
	{% module Template("card.html", **card) %}
	{% end %}
</ol>

</html>
