{% extends "main.html" %}
{% block main_content %}
<h1 class="title">{{ meta['title'] }}</h1>
<ol class="author-list">
	{% for author, author_id in zip(authors, author_ids) %}
	<li>
		<a href="https://nips.cc/Conferences/2016/Schedule?showSpeaker={{ author_id }}">{{ author }}</a>
	</li>
	{% end %}
</ol>
<br>
<span class="event_type">{{ meta['event_type'] }}</span>
<span class="location">{{ meta['location'] }}</span>
<span class="start_time">{{ meta['start_time'] }}</span>
<span class="time_str">{{ meta['time_str'] }}</span>
<span class="start_time_numeric">{{ meta['start_time_numeric'] }}</span>
<span class="abstract">{% raw meta['abstract_html'] %}</span>
<a href="{{ meta['url'] }}">original</a>
<span class="event_id">{{ id }}</span><br>
<span class="add-to-schedule">Add</span>
<span class="remove-from-schedule">Remove</span>

<div id="related-talks">
	<h2>Related talks:</h2>
	<ol>
		{% for card in related_events %}
		{% module Template("card.html", **card) %}
		{% end %}
	</ol>
</div>

<div id="related-arxiv-papers">
	<h2>Related arXiv papers:</h2>
	<ol>
		{% for paper in related_papers %}
		{% module Template("arxiv_card.html", **paper) %}
		{% end %}
	</ol>
</div>
{% end %}
