body {
	font-family: "Courier New", Courier, monospace;
}
ol.comma-list {
	display: inline;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
ol.comma-list li {
	display: inline;
}
ol.comma-list li:after {
	content: ", ";
}
ol.comma-list li:last-child:after {
	content: "";
}
