.event-single {
	position: relative;
	padding-top: 20px;

	.day,
	.time_str,
	.location {
		margin-right: 5px;
	}

	.event-meta {
		padding-bottom: 10px;
		position: relative;
		width: 100%;

		&.demonstration {
			border-bottom: 4px solid $demonstration;
		}

		&.poster {
			border-bottom: 4px solid $poster;
		}

		&.oral {
			border-bottom: 4px solid $oral;
		}

		&.symposium {
			border-bottom: 4px solid $symposium;
		}

		&.tutorial {
			border-bottom: 4px solid $tutorial;
		}

		&.workshop {
			border-bottom: 4px solid $workshop;
		}

		&.talk {
			border-bottom: 4px solid $talk;
		}

		.event_type {
			position: absolute;
			right: 0;
			top: 5px;
		}
	}

	h1 {
		font-size: 20px;
		line-height: 26px;
		margin: 20px 60px 10px 0;
	}

	.authors {
		font-size: 14px;
		letter-spacing: .3px;
	}

	.categories {
		font-size: 14px;
		letter-spacing: .2px;
		margin-top: 10px;
	}

	p {
		margin-top: 20px; 
	}

	.link-like {
		@include transition (color .1s);
		top: 80px;
		font-size: 28px;
		position: absolute;
		right: 0;
		cursor: pointer;
		z-index: 2;
		
		&.add-to-schedule {
			color: $blue;

			&:hover {
				color: $blue-hover;
			}
		}

		&.remove-from-schedule {
			display: none;
			color: $green;
		}
	}
}