header {
	background-image: url("/static/img/header.jpg");
	background-size: cover;
	height: 60px;
	position: fixed;
	max-width: 1280px;
	width: 100%;
	float: left;
	z-index: 100;

	.logo, .powered-by {
		color: #fff;

		span {
			font-weight: 600;
		}

		.hide-mobile {
			font-weight: 400;

			@include mobile {
				display: none;
			}
		}
	}

	a.logo { 
		display: block;
		font-size: 20px;
		margin: 12px 0 0 20px;

		@include mobile {
			font-size: 16px;
			margin: 17px auto 0;
			text-align: center;
		}

		&:hover {
			color: #fff;
		}

		i {
			font-size: 30px;
			margin-right: 10px;
			vertical-align: bottom;

			@include mobile {
				font-size: 26px;
			}
		}

		p {
			color: #fff;
			display: inline;
			font-size: 20px;
			line-height: 28px;
		}
	}

	.powered-by {
		font-size: 12px;
		position: absolute;
		right: 26px;
		text-transform: uppercase;
		top: 24px;

		@include mobile {
			display: none;
		}

		&:hover {
			color: #fff;
		}

		span {
			@include transition(margin .3s);
		}

		&:hover {

			span {
				margin: 0 0 0 3px;
			}
		}
	}
}