#left-panel {
	
	.my-schedule {
		bottom: 0;
		left: 0;
		overflow: auto;
		padding: 20px 20px 100px;
		position: absolute;
		right: 0;
		top: 0;

		@include mobile {
			padding: 20px 20px 116px;
		}
	}
	
	.day,
	.event_type,
	.location,
	.start_time,
	.comma-list {
		display: none;
	}

	.event-result {
		padding: 10px 18px;
	}

	.time_str {
		font-weight: 600;
	}

	h3 {
		font-size: 12px;
		margin:  5px 20px 0 0; 
		line-height: 16px;
		padding: 0;
	}
}

.schedule-day {
	border-top: 1px solid $grey-line;
	padding-top: 5px;
	margin-top: 20px;

	span {
		font-size: 12px;
	}

	.event-result {

		&.show {
			.remove-from-schedule { 
				display: block;
			}
		}
	}

	.add-to-schedule { 
		display: none; 
	}

	.remove-from-schedule { 
		display: none !important;
	}

	.schedule-remove {
		display: block !important;
	}
}
	
#download-schedule {
	background-color: $grey;
	border-top: 1px solid #ccc;
	bottom: 0;
	padding: 31px 20px;
	position: absolute;
	text-align: center;
  width: 320px;

  @include mobile {
  	display: none;
  	padding: 20px 0 55px;
  	width: 100%;
  }
}