a.button,
button {
	@include transition (background-color .1s);
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: none;

	&.search-button {
		background-color: $blue;
		border-radius: 0 100px 100px 0;
		height: 44px;
		width: 20%;

		i {
			color: #fff;
			font-size: 16px;
		}

		&:hover {
			background-color: $blue-hover;
		}
	}

	&.disabled {
		background-color: #ccc;

		&:hover {
			background-color: #ccc;
		}
	}
}

input {
	box-shadow: none;
	border: 1px solid $grey-line;
	padding-left: 20px;
	vertical-align: top;
	font-size: 14px;

	&:focus,
	&:active {
		outline: 0;
	}

	&#search-box {
		border-radius: 100px 0 0 100px;
		height: 44px;
		width: 80%;
	}
}