a.button,
button {
	@include transition (color .2s);
	outline: none;
	border: none;
	box-shadow: none;

	&:hover {
		color: $blue-hover;
	}

	&.search-button {
		background: $blue;
		border-radius: 0 100px 100px 0;
		height: 44px;
		padding: 14px 46px;
		width: 20%;

		i {
			color: #fff;
			font-size: 16px;
		}
	}
}

input {
	box-shadow: none;
	border: 1px solid $grey-line;
	padding-left: 20px;
	vertical-align: top;
	font-size: 14px;

	&:focus,
	&:active {
		outline: 0;
	}

	&#search-box {
		border-radius: 100px 0 0 100px;
		height: 44px;
		width: 80%;
	}
}