.main {

	#page-wrapper {
		position: relative;
		height:100%;
	}

	#left-panel, #right-panel {
		padding: 20px;

		.wrapper {
			padding: 10px;
			max-width: 700px;
			margin: 0 auto;
		}
	}

	.add-to-schedule, 
	.remove-from-schedule {
		&.hide { display:none; }
		&.show { display:inline-block; }
	}

	#left-panel {
		background-color: $grey;
		bottom: 0;
		left: 0;
		position: absolute;
		top: 60px;
		width: 320px;

		@include mobile {
			display: none;
			padding: 0;
			top: 100px;
			width: 100%;
		}
	}


	#right-panel {
		bottom: 0;
		left: 400px;
		overflow: scroll;
		position: absolute;
		right: 0;
		top: 60px;

		@include mobile {
			left: 0;
			top: 100px;
		}

		.link-remove {
			display: none;
		}

		.schedule-remove {
			display: none;
		}
	}

	div.cleared {
		clear: both;
	}

	span.link-like {
		cursor:pointer;
		color:blue;
		text-decoration:underline;
	}
}