.main {

	#page-wrapper {
		position: relative;
		height:100%;
	}

	#left-panel, #right-panel {
		padding: 20px;

		.wrapper {
			padding: 10px;
			max-width: 700px;
			margin: 0 auto;
		}
	}

	.add-to-schedule, 
	.remove-from-schedule {
		&.hide { display:none; }
		&.show { display:inline-block; }
	}

	#left-panel {
		background-color: $grey;
		// float: left;

		// height: 100%;
		// margin-left: -400px;
		position: absolute;
		width: 320px;
		left:0;
		top:60px;
		bottom:0;
	}


	#right-panel {
		// float: right;
		// width: 100%;
		// margin-left: 400px;
		left:400px;
		top:60px;
		bottom:0;
		right:0;
		position:absolute;
		overflow:scroll;

		.link-remove {
			display: none;
		}


		.schedule-remove {
			display: none;
		}
	}

	div.cleared {
		clear: both;
	}

	span.link-like {
		cursor:pointer;
		color:blue;
		text-decoration:underline;
	}
}