//global

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
}

// Colours

$blue: #337AB7;
$blue-hover: #49a8f9;
$green: #08CE95;
$green-hover: #0bf1af;
$grey: #F1F1F1;
$grey-line: #D4D4D4;

$demonstration: #BCB8EE;
$oral: #FE9713;
$poster: #08CE95;
$symposium: #40E0D0;
$talk: #C6D7FE;
$tutorial: #E7C4CB;
$workshop: #FEA7E2;

.blue {
	color: $blue;
}

// Stylesheets

@import 'sass/mixins';

@import 'sass/footer';
@import 'sass/header';

@import 'sass/alignments';
@import 'sass/event-single';
@import 'sass/event-single-related';
@import 'sass/event-results';
@import 'sass/links';
@import 'sass/lists-tables';
@import 'sass/my-schedule';
@import 'sass/page-print';
@import 'sass/search';
@import 'sass/structure';
@import 'sass/switcher';
@import 'sass/typography';