//global

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
}

// Colours

$blue: #337AB7;
$green: #08CE95;
$grey: #F1F1F1;

.blue {
	color: $blue;
}

// Stylesheets

@import 'sass/mixins';

@import 'sass/header';

@import 'sass/alignments';
@import 'sass/events';
@import 'sass/links';
@import 'sass/page-print';
@import 'sass/search';
@import 'sass/structure';
@import 'sass/lists-tables';
@import 'sass/typography';