{% extends "main.html" %}
{% block main_content %}
<h1 class="title">{{ meta['title'] }}</h1>
<ol class="comma-list authors">
	{% for author in meta['authors'].split(', ') %}
	<li> {{ author }} </li>
	{% end %}
</ol>
<br>

<ol class="comma-list categories">
	{% for tag in tags %}
	<li> {{ tag['id'].replace('_', ' ') }} </li>
	{% end %}
</ol>
<br>

<span class="event_type">{{ meta['event_type'] }}</span>
<span class="location">{{ meta['location'] }}</span>
<span class="start_time">{{ meta['start_time'] }}</span>
<span class="time_str">{{ meta['time_str'] }}</span>
<span class="start_time_numeric">{{ meta['start_time_numeric'] }}</span>
<span class="abstract">{% raw meta['abstract_html'] %}</span>
<a href="{{ meta['url'] }}">original</a>
<span class="event_id">{{ id }}</span><br>
<span class="link-like add-to-schedule">Add</span>
<span class="link-like remove-from-schedule">Remove</span>

<div id="related-talks">
	<h2>Related talks:</h2>
	<ol>
		{% for card in related_events %}
		<li>
		{% module Template("event_result.html", **card) %}
		</li>
		{% end %}
	</ol>
</div>

<div id="related-arxiv-papers">
	<h2>Related arXiv papers:</h2>
	<ol>
		{% for paper in related_papers %}
		<li>
		{% module Template("arxiv_result.html", **paper) %}
		</li>
		{% end %}
	</ol>
</div>
{% end %}
