{% extends "main.html" %}
{% block main_content %}
<h1 class="title">{{ meta['title'] }}</h1>
<ol class="comma-list authors">
	{% for author in meta['authors'].split(', ') %}
	<li> {{ author }} </li>
	{% end %}
</ol>

<ol class="comma-list categories">
	{% for tag in tags %}
	<li> <a href="/tag/{{ tag['id'] }}">{{ tag['id'].replace('_', ' ') }}</a></li>
	{% end %}
</ol>

<span class="day">{{ meta['day'] }}</span>
<span class="event_type">{{ meta['event_type'] }}</span>
<span class="location">{{ meta['location'] }}</span>
<span class="start_time">{{ meta['start_time'] }}</span>
<span class="time_str">{{ meta['time_str'] }}</span>
<span class="abstract">{% raw meta['abstract_html'] %}</span>
<a href="{{ meta['url'] }}">original</a>
<i class="fa fa-calendar-plus-o link-like add-to-schedule" data-id="{{ id }}" aria-hidden="true"></i>
<i class="fa fa-calendar-check-o link-like remove-from-schedule" data-id="{{ id }}" aria-hidden="true"></i>

<div id="related-talks">
	<h2>Related talks:</h2>
	<ol>
		{% for card in related_events %}
		<li>
		{% module Template("event_result.html", **card) %}
		</li>
		{% end %}
	</ol>
</div>

<div id="related-arxiv-papers">
</div>

<script type="text/javascript">
	$().ready(function() {
		$('#related-arxiv-papers').load('/related-arxiv-papers/{{ id }}');
	});
</script>

{% end %}
