{% module Template("header.html", title="NIPS scheduler") %}

<div class="main">

	<div id="page-wrapper">
		<div id="left-panel">
			<div class="wrapper">
				<h1>My Schedule</h1>
				<div id="schedule">
					{% module Template("schedule.html", user_id=user_id, items=schedule_items) %}
				</div>
				<div id="download-schedule">
					<a href="/schedule/{{ user_id }}" target="_blank"><i class="fa fa-download margin-right-5" aria-hidden="true"></i> Save &amp; print your schedule</a>
				</div>
			</div>
		</div>
		<div id="right-panel">
			<div class="wrapper">
				<div class="search">
					<input type="text" placeholder="Search..." id="search-box"><button class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
				</div>
				{% block main_content %} {% end %}
			</div>
		</div>
		<div class="cleared"></div>
</div>

{% module Template("footer.html") %}